@use '../../assets/scss/' as *;

.home-settings {
	width: 100%;

	&_container {
		width: 100%;
		max-width: 1200px;
		margin: 20px auto;
		max-height: 80vh;
		overflow-y: scroll;
		padding: 20px;

		&::-webkit-scrollbar {
			display: none;
	  }
	}
}
