@use '../../assets/scss' as *;

.table-skeleton {
	&_container {
		@include flex(center, center, column, 15px);
		padding: 15px 0;
		:first-child {
			height: 46px;
			border: 2px solid $second-color;
		}
	}

	height: 80px;
	position: relative;
	overflow: hidden;
	width: 100%;
	border-radius: $border-radius;
	background-color: $second-color;

	@include mobile{
		height: 47px;
	}

	&::after {
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		left: 0;
		transform: translateX(-100%);
		background-image: linear-gradient(
			90deg,
			rgba(#343757, 0) 0,
			rgba(#343757, 0.2) 20%,
			rgba(#343757, 0.5) 60%,
			rgba(#343757, 0)
		);
		animation: shimmer 2s infinite;
		content: '';
	}

	@keyframes shimmer {
		100% {
			transform: translateX(100%);
		}
	}
}
