@use '../../assets/scss' as *;

.inp {
	@include flex(flex-start, center, column, 8px);
	width: 100%;
	
	label{
		margin-left: 3px;
	}
	.input-container {
		@include flex(center, center, row, 12px);
		padding: 10px 20px;
		border-radius: $border-radius;
		width: 100%;
		background-color: $inp-color !important;

		path {
			fill: #bdbdbd !important;
		}

		.input {
			width: 100%;
			height: 100%;
			border: none;
			outline: none;
			background-color: transparent;
			color: #fff;
			color-scheme: dark;

			&::placeholder{
				color: #ffffffbe;
			}
		}
	}
}

.inp_error {
	color: #858584;
	font-size: 12px;
	text-align: center;
	padding-top: 5px;
}
