@use '../../../assets/scss/' as *;

table {
	width: 100%;
	border-collapse: separate;
	border-spacing: 0 20px;

	tr {
		border-radius: $border-radius;

		th {
			color: #858584;
			div {
				@include flex(center, flex-start, row, 5px);
				.thead-btn {
					width: 18px;
					height: 18px;
					transform: rotate(-90deg);
					background-color: transparent;
					border: none;
					cursor: pointer;
					svg {
						width: 100%;
						height: 100%;
					}
					path {
						fill: #ffffff81 !important;
					}
				}

				.dec {
					transform: rotate(90deg);
				}
			}
		}

		td {
			@include mobile {
				word-break: normal;
			}
		}

		.tr-cell {
			@include flex(center, flex-start, row, 10px);
		}

		td,
		th {
			border-top: 2px solid $second-color;
			border-bottom: 2px solid $second-color;
			padding: 10px 12px 10px 12px;
			text-align: left;
			font-weight: 400;
			font-size: 16px;
			line-height: 140%;
			font-family: $font-family-second;
			position: relative;

			@include mobile {
				font-size: 12px;
				line-height: 110%;
			}

			@include middle {
				font-size: 12px;
				line-height: 110%;
			}

			&:first-child {
				border-radius: 20px 0 0 20px;
				border-left: 2px solid $second-color;
				padding: 0 0 0 18px;

				@include mobile {
					padding: 0 0 0 8px;
				}
			}

			&:last-child {
				border-radius: 0 20px 20px 0;
				border-right: 2px solid $second-color;

				@include mobile {
					padding: 0 8px 0 0;
				}
			}

			img {
				width: 40px;
				height: 40px;
				border-radius: 50%;
			}

			.table-image {
				img {
					width: 40px;
					height: 40px;
					border-radius: 50%;
					position: absolute;
					top: 10px;
					transition: all 0.3s;
					z-index: 1;

					&:hover {
						width: 150px;
						height: 150px;
						border-radius: 10%;
						transform: translate(-35%, -40%);
						z-index: 100;
					}
				}
			}
		}
	}

	tbody {
		background-color: $second-color;
	}
}
