@use './assets/scss' as *;

* {
	padding: 0;
	margin: 0;
	list-style: none;
	text-decoration: none;
	box-sizing: border-box;
	-webkit-tap-highlight-color: transparent;
	font-family: $font-family;
	outline: none;
}

body {
	background-color: $body-bg;
	color: $txt-color;
	font-size: 16px;
}

::-webkit-scrollbar {
	width: 8px;
}

::-webkit-scrollbar-track {
	background: transparent;
}

::-webkit-scrollbar-thumb {
	background: #8383833d;
	border-radius: 20px;
}

::-webkit-scrollbar-thumb:hover {
	background: #555;
}

.material-symbols-outlined {
	font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 48;
}

.red{
	color: #767677b6;
}

.container-default{
	padding: 30px 30px 10px 30px;
	width: 100%;
	height: calc( 100vh - $header-height);
	overflow-y: scroll;

	@include mobile{
		padding: 20px 10px 0;
	}
}