@use '../../assets/scss/' as *;

.dashboard {
	&__container {
		padding: 20px;

		&__requests {
			h2 {
				margin: 30px;
				text-align: center;
			}
		}

		&__info {
			@include flex(center, space-between, row, 20px);

			&__item {
				@include flex(center, flex-start, row, 20px);
				width: 100%;
				background-color: $second-color;
				padding: 30px;
				border-radius: $border-radius;
				box-shadow: 0 0 7px 2px #00000079;

				@include mobile{
					span{
						display: none;
					}
				}
			}

			@include tablet {
				flex-direction: column;
			}

			@include mobile {
				font-size: 13px;
			}
		}
	}
}

.dashboard-modal {
	width: 100%;
	&__desc {
		width: 100%;
		margin-bottom: 20px;
		@include flex(center, space-between, row, 20px);
		font-size: 16px;
		&_created {
			margin-bottom: 10px;
		}
		div {
			width: 100%;
		}
		img {
			width: 200px;
			object-fit: cover;
		}
	}

	&__info {
		width: 100%;
		font-size: 18px;
		color: #fff;
		table {
			border-spacing: 0 5px;
		}
	}

	&__mail {
		width: 100%;
		padding-top: 20px;
		h4 {
			@include flex(center, center, row, 10px);
			color: #262550a1;
			margin-bottom: 10px;
		}

		textarea {
			resize: none;
			width: 100%;
			height: 100px;
			border: 1px solid $main-color;
			border-radius: $border-radius;
			padding: 10px 20px;
			color: #000;
		}
	}
}
