@use '../../../assets/scss/' as *;

.pagination-container {
	@include flex(center, center);
	.pagination {
		display: inline-block;
		padding-left: 0;
		border-radius: $border-radius;

		&__select{
			background-color: $second-color;
			color: #fff;
			padding: 5px;
			border-radius: $border-radius;
			border: 1px solid $main-color;
			cursor: pointer;
		}

		.page-item {
			display: inline;
		}
		.page-item:first-child .page-link {
			margin-left: 0;
			border-bottom-left-radius: $border-radius;
			border-top-left-radius: $border-radius;
		}
		.page-item:last-child .page-link {
			border-bottom-right-radius: $border-radius;
			border-top-right-radius: $border-radius;
		}
		.page-item.disabled .page-link,
		.page-item.disabled .page-link:focus,
		.page-item.disabled .page-link:hover {
			color: #929090;
			pointer-events: none;
			cursor: not-allowed;
		}
		.page-item.active .page-link,
		.page-item.active .page-link:focus,
		.page-item.active .page-link:hover {
			color: $main-color;
			pointer-events: none;
			cursor: not-allowed;
			background-color: $second-color;
			border-radius: 3px;
		}

		.page-link {
			position: relative;
			float: left;
			padding: 8px 10px;
			margin-left: 3px;
			color: #fff;
			text-decoration: none;
			cursor: pointer;
		}
		.page-link:focus,
		.page-link:hover {
			color: #625baf;
			background-color: #2b3677b2;
			border-color: #ddd;
			border-radius: 3px;
		}
	}
}
