@import url('https://fonts.googleapis.com/css2?family=Work+Sans:wght@400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap');

$body-bg: #0B1437;
$main-color: #7551FF;
$second-color: #111C44;
$txt-color: #fff;
$txt-color-dark: #2B2B2B;
$border-radius: 20px;
$inp-color: #1c264e;

$mobile-width: 576px;
$middle-width: 722px;
$tablet-width: 992px;

$header-height: 76px;

$font-family: 'Work Sans';
$font-family-second: 'Space Mono', monospace;