@use '../../../assets/scss/' as *;

.discover {
	width: 100%;
	padding: 40px 0;
	border-bottom: 2px solid $second-color;
	
	&__grid {
		display: grid;
		align-items	: start;
		grid-template-columns: repeat(3, 1fr);
		gap: 30px;

		@include tablet{
			grid-template-columns: repeat(1, 1fr);
			justify-items: center;
		}
	}
}
