@use '../../../assets/scss/' as *;

.sidebar-cont {
	width: 210px;
	transition: all 0.5s;
	height: 100%;
	min-height: 100vh;

	&__close {
		width: 50px;
	}
}

.content-cont {
	width: calc(100vw - 210px);
	transition: all 0.5s;

	&__active {
		transition: all 0.5s;
		width: calc(100vw - 50px);
	}
}
