@use '../../../assets/scss/' as *;

.trending {
	width: 100%;
	padding: 40px 0;
	border-bottom: 2px solid $second-color;

	
	&__collections {
		@include flex(flex-start, center, row, 30px);
		width: 100%;
		
		@include tablet {
			flex-direction: column;
		}
	}
}

.section-title {
	@include flex(flex-start, start, column);
	gap: 10px;
	margin-bottom: 40px;

	h2 {
		font-weight: 600;
		font-size: 38px;
		line-height: 120%;
		@include tablet {
			font-size: 28px;
		}
	}

	p {
		font-size: 22px;
		line-height: 160%;
		text-transform: capitalize;
		@include tablet {
			font-size: 16px;
		}
	}
}