@use '../../../assets/scss/' as *;

.topbar {
	@include flex(center, flex-end, row, 10px);
	background-color: rgba(0, 0, 0, 0.199);
	width: 100%;
	padding: 15px 20px;
	box-shadow: 0 0 6px 2px rgba(0, 0, 0, 0.452);

	@include mobile{
		padding: 10px;
	}

	&__btn {
		@include flex(center, center);
		background-color: transparent;
		border: none;
		color: #fff;
      cursor: pointer;
	}

	&__logout{
		width: 100%;
		max-width: 100px;
	}
}
