@use '../../../assets/scss/' as *;

.modal-darkBG {
	background-color: rgba(0, 0, 0, 0.2);
	width: 100%;
	height: 100vh;
	z-index: 10;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	position: absolute;
}

.centered {
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}

.modal {
	@include flex(center, space-between, column, 40px);
	position: fixed;
	background: white;
	color: white;
	border-radius: 16px;
	box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
	z-index: 300;
   min-height: 300px;
	padding: 20px;
	width: 90%;
	max-width: 700px;

	&__buttons{
		width: 40%;
		// padding-top: 40px;
		align-self: flex-end;
		@include flex(center, flex-end, row, 20px);
	}

	&__header {
		background: white;
		overflow: hidden;
		border-top-left-radius: 16px;
		border-top-right-radius: 16px;

		&__heading {
			margin: 0;
			padding: 10px;
			color: #2c3e50;
			font-weight: 500;
			font-size: 18px;
			text-align: center;
		}
	}

	&__content {
		width: 100%;
		// padding: 10px;
		font-size: 14px;
		color: #2c3e50;
		text-align: center;
	}

	&__btn {
      cursor: pointer;
		align-self: flex-end;
		font-weight: 500;
		padding: 4px 8px;
		border-radius: 8px;
		border: none;
		font-size: 15px;
      background-color: #e4e4e4;
		color: #2c3e50;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
	}

	&__closeBtn {
		cursor: pointer;
		font-weight: 500;
		padding: 4px 8px;
		border-radius: 8px;
		border: none;
		font-size: 18px;
		color: #2c3e50;
      background: $main-color;
      border: 1px solid #fff;
      color: #fff;
		transition: all 0.25s ease;
		box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.06);
		position: absolute;
		right: 0;
		top: 0;
		align-self: flex-end;
		margin-top: -7px;
		margin-right: -7px;

		&:hover {
			box-shadow: 0 5px 20px 0 rgba(0, 0, 0, 0.04);
			transform: translate(-4px, 4px);
		}
	}

	&__closeBtn &__deleteBtn {
		margin-top: 10px;
		cursor: pointer;
		font-weight: 500;
		padding: 11px 28px;
		border-radius: 12px;
		font-size: 0.8rem;
		border: none;
		color: #fff;
		background: #ff3e4e;
		transition: all 0.25s ease;
	}

	&__deleteBtn {
		&:hover {
			box-shadow: 0 10px 20px -10px rgba(255, 62, 78, 0.6);
			transform: translateY(-5px);
			background: #ff3e4e;
		}
	}
}
